main {
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.b-primercontenedor {
	margin: 3vh;
	/* border: solid black 1px; */
	padding: 1rem;
	width: 80%;
	max-height: 80%;
}

nav {
	position: fixed;
	width: 100%;
	border-bottom: solid rgb(121, 121, 121) 0.5px;
	background-color: rgb(139, 139, 139);
	flex-direction: row;
	display: flex;
}

a {
	color: rgb(0, 0, 0);
}

/* nav>a:hover {
	color: rgb(255, 255, 255);
	text-decoration: bold;
} */
a:hover {
	text-decoration: none;
}