<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<title>Lista Juegos</title>
</head>
<body>
	<nav class="nav">
		<a class="nav-link active" th:href="@{/}">Home</a> <a class="nav-link"
			th:href="@{/altaJuego}">Alta juego</a> <a class="nav-link"
			th:href="@{/cargarCsv}">Cargar lista csv</a> <a class="nav-link"
			th:href="@{/editor(editor='Nintendo')}">Juegos de Nintendo</a>
			<a class="nav-link active" th:href="@{/sigloxx}">Juegos del Siglo XX</a>
			

		<ul class="nav nav-pills">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
				role="button" aria-haspopup="true" aria-expanded="false">Genero</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:each="genero, status : ${listaGeneros}"
						th:text="${genero.genero}" href="#!"></a>

				</div></li>
		</ul>
	</nav>

	<main>
		<div class="b-primercontenedor">
			<table class="table table-striped">
				<tr>
					<th>Nº</th>
					<th>Nombre</th>
					<th>Plataforma</th>
					<th>Editor</th>
					<th>Genero</th>
					<th>Year</th>
					<th>Acciones</th>
				</tr>
				<tr th:each="juego, status : ${listaJuegos}">
					<td th:text="${status.index + 1}" />
					<td th:text="${juego.nombre}" />
					<td th:text="${juego.plataforma.plataforma}" />
					<td th:text="${juego.editor.editor}" />
					<td th:text="${juego.genero.genero}" />
					<td th:text="${juego.fecha}" />
					<td><a th:href="@{/modificarJuego(id=${juego.id})}">Modificar</a>
						| <a th:href="@{/eliminarJuego(id=${juego.id})}">Eliminar</a></td>
				</tr>
			</table>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
		integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
		crossorigin="anonymous"></script>
</body>
</html>
