<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
        <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <title>Lista Juegos</title>
  </head>
  <body>

     <div class="navegador">
        <nav class="nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/altaJuego">Alta juego</a>
            <a class="nav-link" href="/cargarCsv">Cargar lista csv</a>
          

            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plataformas</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!">2600</a>
                    <a class="dropdown-item" href="#!">3DO</a>
                    <a class="dropdown-item" href="#!">3DS</a>
                    <a class="dropdown-item" href="#!">DC</a>
                    <a class="dropdown-item" href="#!">DS</a>
                    <a class="dropdown-item" href="#!">GB</a>
                    <a class="dropdown-item" href="#!">GBA</a>
                    <a class="dropdown-item" href="#!">GC</a>
                    <a class="dropdown-item" href="#!">GEN</a>
                    <a class="dropdown-item" href="#!">GG</a>
                    <a class="dropdown-item" href="#!">NINTENDO</a>
                    <a class="dropdown-item" href="#!">PC</a>
                    <a class="dropdown-item" href="#!">PCFX</a>
                    <a class="dropdown-item" href="#!">PS</a>
                    <a class="dropdown-item" href="#!">PS2</a>
                    <a class="dropdown-item" href="#!">PS3</a>
                    <a class="dropdown-item" href="#!">PS4</a>
                    <a class="dropdown-item" href="#!">PSP</a>
                    <a class="dropdown-item" href="#!">PSV</a>
                    <a class="dropdown-item" href="#!">SAT</a>
                    <a class="dropdown-item" href="#!">SCD</a>
                    <a class="dropdown-item" href="#!">SNES</a>
                    <a class="dropdown-item" href="#!">TG16</a>
                    <a class="dropdown-item" href="#!">Wii</a>
                    <a class="dropdown-item" href="#!">WiiU</a>
                    <a class="dropdown-item" href="#!">WS</a>
                    <a class="dropdown-item" href="#!">X360</a>
                    <a class="dropdown-item" href="#!">XB</a>
                    <a class="dropdown-item" href="#!">XONE</a>
                   </div>
                </li>
              </ul>


              <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genero</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!">Action</a>
                    <a class="dropdown-item" href="#!">Adventure</a>
                    <a class="dropdown-item" href="#!">Fighting</a>
                    <a class="dropdown-item" href="#!">Misc</a>
                    <a class="dropdown-item" href="#!">Platform</a>
                    <a class="dropdown-item" href="#!">Puzzle</a>
                    <a class="dropdown-item" href="#!">Racing</a>
                    <a class="dropdown-item" href="#!">Role-Playing</a>
                    <a class="dropdown-item" href="#!">Shooter</a>
                    <a class="dropdown-item" href="#!">Simulation</a>
                    <a class="dropdown-item" href="#!">Sports</a>
                    <a class="dropdown-item" href="#!">Strategy</a>
                   </div>
                </li>
              </ul>


            
            
          </nav>
      
    </div>
   

    <main>
      <div class="b-primercontenedor">
        <table class="table table-striped">
          <tr>
            <th>Nº</th>
            <th>Rango</th>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Editor</th>
            <th>Genero</th>
            <th>Year</th>
            <th>Acciones</th>
          </tr>
          <tr th:each="juego, status : ${listaJuegos}">
            <td th:text="${status.index + 1}" />
            <td th:text="${juego.rango}" />
            <td th:text="${juego.nombre}" />
            <td th:text="${juego.id_plataforma.plataforma}" />
            <td th:text="${juego.id_editor.editor}"/>
            <td th:text="${juego.id_genero.genero}"/>
            <td th:text="${juego.fecha}"/>
            <td><a th:href="@{/modificarJuego(id=${juego.id})}">Modificar</a> | <a
              th:href="@{/eliminarJuego(id=${juego.id})}">Eliminar</a></td>
          </tr>
        </table>
      </div>
      <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    </main>
  </body>
</html>
